.App {

}

.App-header {
  padding: 10px;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
